@page "/counter"
@using Radzen.Blazor
@using FrontEndBlazor.Model
@inject HttpClient Http
<PageTitle>Counter</PageTitle>
<h1>Counter</h1>
<RadzenScheduler Data="@journeys" TItem="Journey" StartProperty="DateStart" EndProperty="DateEnd" TextProperty="Destination">
    <Template Context="Journey">
        <strong>@Journey.Destination</strong>
    </Template>
    <ChildContent>
        <RadzenYearView />
        <RadzenMonthView />
        <RadzenWeekView />
    </ChildContent>
</RadzenScheduler>

@code {
    private Journey[] journeys;
    protected override async Task OnInitializedAsync()
    {
        journeys = await GetEventsAsync();
    }
    private async Task<Journey[]> GetEventsAsync()
    {
        return await Http.GetFromJsonAsync<Journey[]>("http://localhost:3002/Journey");
    }
}
