@page "/weather"
@inject HttpClient Http
@using System.Reflection
@using Radzen;
@using Radzen.Blazor;
@inject DialogService dialogService
@using System.Text;
<PageTitle>Flights</PageTitle>

<h1>Flights</h1>

<p>Este Componente muestra los diferentes vuelos disponibles</p>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenLink Path="FlightSave">
        <RadzenButton ButtonStyle="ButtonStyle.Success">
            Add
        </RadzenButton>
    </RadzenLink>
    <RadzenDataGrid @ref="grid" Data="@forecasts" TItem="Flights" AllowPaging="true" PageSize="10" AllowSorting="true"
        AllowFiltering="true">
        <Columns>
            <RadzenDataGridColumn TItem="Flights" Property="destination" Title="destination" />
            <RadzenDataGridColumn TItem="Flights" Property="origin" Title="Origin" />
            <RadzenDataGridColumn TItem="Flights" Property="price" Title="Price" />
            <RadzenDataGridColumn TItem="Flights" Title="Opciones">
                <Template Context="flight">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@(() =>  Delete(flight))">
                        Eliminar
                    </RadzenButton>
                    <RadzenLink Path=@GetUpdatePath(flight.id)>
                        <RadzenButton ButtonStyle="ButtonStyle.Warning">
                            Update 
                        </RadzenButton>

                    </RadzenLink>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {

    private List<Flights> forecasts;
    private Type type;
    string Alerta;
    private PropertyInfo[] properties;
    private RadzenDataGrid<Flights> grid;
    private RadzenAlert Alert;
    private string GetUpdatePath(int flightId)
    {
        return $"FlightSave?Update={flightId}";
    }
    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<List<Flights>>("http://localhost:3002/Flights");

        type = forecasts.First().GetType();

        properties = type.GetProperties();
        
    }
    private async Task Delete(Flights flight)
    {
        try
        {
            var request = new HttpRequestMessage(HttpMethod.Delete, $"http://localhost:3002/Flights/{flight.id}");

            var response = await Http.SendAsync(request);
            response.EnsureSuccessStatusCode();
            // Eliminar el vuelo de la lista forecasts
            forecasts.Remove(flight);

            // Opcional: Actualizar la vista del grid
            await grid.Reload();
            Alerta = "SE HA Eliminado Con Exito";
        }
        catch (HttpRequestException ex)
        {
            // Manejar la excepción según sea necesario
            Console.WriteLine($"Request error: {ex.Message}");
        }
    }

    public class Flights
    {
        public int id { get; set; }
        public string destination { get; set; }
        public double price { get; set; }
        public string origin { get; set; }

    }
}
